@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Galdeano&display=swap');

* {
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --blue: #ffcc00;
    --blue-partial: #ffcc0031;
    --blue-alt: #ddb92a;
    --grey: #A3A3A3;
    --green: #72ebba;
    --black: #19193e;
    --red: #ff2d2e;
    --yellow: #4D1ED3;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--black);
    background: #f5f6fa;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-alt);
    border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue);
  }


/* REUSABLE STYLES */
.card {
    border-radius: 5px;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
}

.white {
    background: var(--white);
}

.blue {
    background: var(--blue);
}

.green_arr {
    color: var(--green);
    font-size: 12px;
    animation: pulse 1.5s  ease-in infinite;
}

.red_arr {
    color: var(--red);
    font-size: 12px;
    animation: pulse 1.5s  ease-in infinite;
}

@keyframes pulse {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.75;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

/* STATIC BARS */

.topbar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 55px;
    width: 210px;
}

.logoCircle {
    position: absolute;
    right: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    border-radius: 20%;
}

.logoOperator {
    height: 100%;
    width: 200%;
}

/* MAIN CONTENT STYLE */
.main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 90px;
    padding: 0 50px;
}

/* TITLE  TEXT STYLE */
.header {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    gap: 80px;
}

.header .btn {
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}

.header .btn:hover, .header .btnSelected {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--blue);
}

.header h1 {
    font-family: 'Galdeano', sans-serif;
    font-size: 40px;
}

/* MAIN CONTENT ARRANGEMENT AND STYLE */
.content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 40px;
}

.content_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}


/* SIDE MENU */
.sidebar {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    background: var(--blue);
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.sidebar h4 {
    font-size: 20px;
    color: var(--white);
}

.btn {
    color: var(--grey);
    background: var(--white);
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.sidebar .btn span {
    color: var(--white);
    position: relative;
    bottom: 6px;
    width: 200px;
}

.sidebar .btn {
    background: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
    width: 200px;
}

.sidebar .btn .righty {
    position: relative;
    left: 40px;
    font-size: 30px;
}

.sidebar .btn:hover, .sidebar .btn-primary {
    color: var(--blue);
    background: var(--white);
    border: 1px solid var(--white);
    transition: 0.5s ease;
}

.sidebar .btn:hover span, .sidebar .btn-primary span {
    color: var(--blue);
}


/* TIME PERIOD BAR */
.monitoring_bar {
    position: relative;
    height: 140px;
    width: 100%;
    padding: 20px 25px;
}

.monitoring_bar h4 {
    color: var(--grey);
    margin-bottom: 20px;
}

.monitoring_bar .btn-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.monitoring_bar .btn {
    padding: 0;
    margin: 0;
    height: 55px;
}

/* PERIOD SELECTOR */
.monitoring_bar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.monitoring_bar ul li a {
    text-decoration: none;
    color: var(--grey);
    align-content: center;
    display: inline-block;
    padding: 15px 26px;
}

.monitoring_bar ul li a:hover, .monitoring_bar .select-primary {
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 18px;
    transition: 0.5s ease;
}

/* TIME PERIOD */
.time-frame {
    width: 300px;
    text-align: left;
    color: var(--blue);
    transition: 0.5s ease;
}

.time-frame input {
    margin: 3px;
    padding: 12px 10px;
    border: hidden;
    background: none;
    color: inherit;
    font-size: 18px;
    width: 250px;
    cursor: pointer;
}

.time-frame i {
    position: relative;
    top: 15%;
    margin-left: 10px;
    font-size: 30px;
}

.time-frame:hover {
    background: var(--blue);
    color: var(--white);
}

/* DOWNLOAD BUTTON */
.monitoring_bar .report_download a {
    display: flex;
    padding: 5px 15px;
    cursor: pointer;
}

.monitoring_bar .report_download a .main-text {
    color: var(--black);
    font-size: 18px;
}

.monitoring_bar .report_download a .subtext {
    position: relative;
    top: 23px;
    right: 100px;
}

.monitoring_bar .report_download a .righty {
    position: relative;
    right: -15px;
    font-size: 45px;
}

.monitoring_bar .report_download a:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
    transition: 0.5s ease;
}

.monitoring_bar .report_download a:hover .main-text {
    color: var(--white);
}


/* INFO CARDS */
.smaller_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.smaller {
    padding: 30px;
    height: 250px;
    color: var(--black);
    cursor: pointer;
    transition: 0.5s ease;
}

.smaller:hover {
    color: var(--white);
    background: var(--blue);
}

.smaller .text {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.smaller .number {
    font-weight: 400;
    font-size: 45px;
    color: var(--green);
    margin-bottom: 10px;
}

.smaller .subtext {
    font-weight: 200;
    font-size: 15px;
    color: var(--grey);
    margin-bottom: 10px;
}

.smaller i {
    position: relative;
    top: -65px;
    left: 10px;
}

.smaller img {
    width: 130px;
    position: relative;
    top: -85px;
    left: 50px;
}

.modal-position {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: center;
    z-index: -10;
}

.modal {
    width: 80%;
    height: 70%;
    background: var(--white);
    padding: 25px;
    color: var(--blue);
    font-size: 15px;
    box-shadow: 0 0 800px rgba(0, 0, 0, 1);
}

.modal h4 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.closeBtn {
    position: relative;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: var(--blue)
}

.closeBtn:hover {
    color: var(--grey)
}


@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1}
}

.tch-modal, .sdcch-modal, .callDrop-modal, .callConnect-modal {
    display: none;
    animation: fade 0.5s ease-in;
}

.chartBox {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 80%;
}

.chart {
    width: 100%;
    height: 100%;
}


/* TABLES FORMATTING */

.content_table1, .content_table2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.content_table2 {
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: flex-start;
}

.content_table1 h3, .content_table2 h3 {
    background: transparent;
    text-align: center;
    font-size:15px;
    color: var(--grey);
    margin-bottom: 10px;
}

.content_table1 h4, .content_table2 h4 {
    background: var(--white);
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    cursor: default;
}
table thead tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

table tr td {
    padding: 12px 0;
}

table tbody .span {
    color: var(--blue);
}


/* TABLE 2 TARGETED FORMATTING */
.content_table2 table thead tr:last-child td:nth-child(2) h3 {
    text-align: left;
    color: var(--black);
    font-size: 18px;
}

.content_table2 table thead tr:last-child td:nth-child(3) h3 {
    text-align: center;
    color: var(--black);
    font-weight: normal;
}

.content_table2 table td {
    padding-left: 10px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.content_table2 table td:first-child {
    width: 20px;
}

.content_table2 table td:nth-child(2) {
    width: 350px;
}

.content_table2 table td:nth-child(3) {
    text-align: center;
    width: 150px;
}


/* MINI GRAPH IN TABLE 2 */
.graphAlert {
    width: 70%;
    height: 100%;
    text-align: center;
    color: var(--grey);
}

.graphAlert table {
    position: relative;
    width: 30%;
    top: 60px;
    left: 35%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.graphAlert table:hover {
    background: var(--blue-partial);
}

.graphAlert table td {
    border-right: none;
}

.graphAlert .critical {
    color: var(--red);
}

.graphAlert .minor {
    color: var(--grey);
}

.graphAlert .major {
    color: var(--yellow);
}
